// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
    width: 960px;
   }

#head{
    
    color: red;
    background-color: blue; padding: 20px; margin-bottom: 10px;

  }
h1{
    font_size: 50px;
  }
#links{
    font_size: 1px;
    text-color: white;
  }
th{
    text-align: left;
    font-size: 15px;
    color: blue;
    padding-right: 2px;
    margin-right: 40px;
  }
td{
    width: 960px;
    padding-right: 60px;
    padding: 10px;
    background-color: #e6e6fa;
  }
